<style>
    .container {
         font-size: 16px;
         line-height: 16px;
         max-height: 55px;
         overflow: hidden;
    }
    .show {
         overflow: visible;
         height: auto;
    }
</style>
<h1 ng-show="userId==null">- שאלות - <i> </i></h1>
<h1 ng-show="userId!=null">- שאלות שלי - </h1>

<input type='button' id='hideshow' value='הצג\הסתר חיפוש'>

<div id="searchPanel">
    <form ng-submit="submit()">

    <b> פקולטה</b>
    
    <tagger tabindex="-1" id="s1" required ng-model="faculty" options="faculties" placeholder="בחר פקולטה" single 
            display-fun="showName" create-fun="createName" on-select="facultySelected" style="border-radius: 10px"></tagger>

    <b>קורס</b>
    <tagger tabindex="-1" id="s1" required ng-model="course" options="courses" placeholder="בחר קורס" 
            single display-fun="showHebName" create-fun="createName" on-select="courseSelected" style="border-radius: 10px"></tagger>

        <br/>
        <div id="tagsDiv" style="display: none">
            <b>שנה</b>
            <input type="number" ng-model="year" min="1970" max="2020">

            <b>סמסטר</b>
            <select ng-model="selectedSemester" style="width: 50px">
                <option value="">--
                    <option value="A">א
                        <option value="B">ב
                            <option value="C">קיץ
            </select>

            <b>מועד</b>
            <select ng-model="selectedMoed" style="width: 50px">
                <option value="">--
                    <option value="A">א
                        <option value="B">ב
                            <option value="C">ג
            </select>
            <b>מספר שאלה</b>
            <input type="number" ng-model="qnumber" min="1" max="100" ng-blur="onAddQuestionNumber()">


            <br/>

            תגיות

            <multiple-autocomplete ng-model="selectedTags" object-property="name" suggestions-arr="optionsTags" class="select">
            </multiple-autocomplete>

        </div>
        <br/>
        <b>טקסט חופשי</b>
        
        <input type="text" ng-model="freeText">
        <br/>
        
        <input type="submit" style="width: 100px;height: 30px;" id="submit" value="חפש" />
         <img src="img/myloadingimage.gif" style="display: none;" id="loading_image">

    </form>
</div>
<hr>
<br/>
<div ng-repeat="x in questions">
    <div style="clear:both"></div>
    <div style="clear:both;height:10px;"></div>
    <div class="questionsview_userbox">
        <div class="userbox">
            {{x.user.firstName}} {{x.user.lastName}}
        </div>
    </div>
    <div class="questionsview_details">
        <span style="color:#999">{{x.time | date:'dd-MM-yyyy HH:mm'}}</span>
    </div>
    <div class="questionsview_details" style="float:right">
        <span style="color:#999">
            <b>{{x.testQuestion.test.course.nameHebrew}}</b> - 
             {{x.testQuestion.test.year}}-
             {{x.testQuestion.test.semester}} -
            {{x.testQuestion.test.moed}}-    
            {{x.testQuestion.questionNumber}}
        
        </span>
    </div>
    <div class="questionsview_details q">
        {{x.numOfComments}} תגובות | {{x.votes}} הצבעות
    </div>
    <div class="questionsview_answer" id="a445">
        <div class="questionsgrid_title">
            <img ng-show="x.files.length>0" src="img/attachment.png" style="width: 40px;float: left" title="יש קבצים מצורפים">
            <a href="#questions/view/{{x.id}}">{{x.title}}</a>
            <br/><span class="questionsgrid_description"><a href="#questions/view/{{x.id}}"> 
                    <div class="markdown" style="border: bold" ng-bind-html="x.content"></div>
            <span class="markdown" style="border: bold">...</span>
                </a></span>
            <div style="clear:both"></div>
        </div>

        <ul class="holder noborder">
        </ul>

        <div style="clear:both;"></div>
    </div>
    
</div>
<div ng-show="questions.length==0">
    <h2>אין תוצאות...</h2>
    <h4>אולי תשנה את קריטריוני החיפוש שלך?</h4>
</div>

<div ng-show="totalCount>pageSize">
    <button ng-disabled="currentPage == 0" ng-click="pageBack()" style="background-color:  whitesmoke">
        הקודם
    </button>
עמוד
    {{currentPage+1}}/{{numberOfPages()}} 
    <button ng-disabled="currentPage >= totalCount/pageSize - 1" ng-click="pageNext()" style="background-color:  whitesmoke">
        הבא
</div>