<style>
    .container {
         font-size: 16px;
         line-height: 16px;
         max-height: 55px;
         overflow: hidden;
    }
    .show {
         overflow: visible;
         height: auto;
    }
</style>
<h1>Questions <i> </i></h1>


<input type='button' id='hideshow' value='Hide/Show Search'>

<div id="searchPanel">
    <form ng-submit="submit()">

    <b> Faculty:</b>
    
    <tagger tabindex="-1" id="s1" required ng-model="faculty" options="faculties" placeholder="Select Faculty" single 
            display-fun="showName" create-fun="createName" on-select="facultySelected" style="border-radius: 10px"></tagger>

    <b>Course:</b>
    <tagger tabindex="-1" id="s1" required ng-model="course" options="courses" placeholder="Select Course" 
            single display-fun="showHebName" create-fun="createName" on-select="courseSelected" style="border-radius: 10px"></tagger>

        <br/>

        <b>Year:</b>
        <input type="number" ng-model="year" min="1970" max="2020">

        <b>Semester:</b>
        <select ng-model="selectedSemester" style="width: 50px">
            <option value="">--
                <option value="A">A
                    <option value="B">B
                        <option value="C">C
        </select>

        <b>Moed:</b>
        <select ng-model="selectedMoed" style="width: 50px">
            <option value="">--
                <option value="A">A
                    <option value="B">B
                        <option value="C">C
        </select>
        <b>Question Number:</b>
        <input type="number" ng-model="qnumber" min="0" max="100" ng-blur="onAddQuestionNumber()">

        
        <br/>
        <div id="tagsDiv" style="display: none">
        Tags :

        <tagger ng-model="tags" options="options" placeholder="Select tags"></tagger>

        </div>
        <br/>
        Free text:
        <input type="text" ng-model="freeText">
        <br/>
        <input type="submit" style="width: 100px;height: 30px;" id="submit" value="Filter" />
    </form>
</div>
<hr>
<br/>
<div ng-repeat="x in questions">
    <div style="clear:both"></div>
    <div style="clear:both;height:10px;"></div>
    <div class="questionsview_userbox">
        <div class="userbox">
            <a href="#users/view?id={{x.user.id}}">{{x.user.firstName}} {{x.user.lastName}}</a>
        </div>
    </div>
    <div class="questionsview_details">
        <span style="color:#999">{{x.time | date:'dd-MM-yyyy HH:mm'}}</span>
    </div>
    <div class="questionsview_details q">
        {{x.answers}} ans | {{x.votes}} votes
    </div>
    <div class="questionsview_answer" id="a445">
        <div class="questionsgrid_title">
            <a href="#questions/view/{{x.id}}">{{x.title}}</a>
            <br/><span class="questionsgrid_description"><a href="#questions/view/{{x.id}}"> 
                    <div class="markdown" style="border: bold" ng-bind-html="x.content"></div>
            <span class="markdown" style="border: bold">...</span>
                </a></span>
            <div style="clear:both"></div>
        </div>

        <ul class="holder noborder">
        </ul>

        <div style="clear:both;"></div>
    </div>
</div>