 
<h1>Questions <i> </i></h1>


<input type='button' id='hideshow' value='Hide/Show Search'>

<div class="form-control" id="searchPanel">
    <h3>Filter:</h3>
<form ng-submit="submit()">

Faculty:
	<select ng-model="selectedFaculty" 
        ng-options="item.Id as item.Name for item in faculties" ng-change="facultySelected(selectedFaculty)">
    <option value="">Select Faculty</option>
	</select>
	
	Course:
	<select ng-model="selectedCourse" 
        ng-options="item.Id as item.Name for item in courses" ng-change="courseSelected(selectedCourse)">
    <option value="">Select Course</option>
	</select>
        <br/><br/>
	Year:
	<input type="number" ng-model="year" min="1970" max="2020">
	Moed:
	<select ng-model="selectedMoed">
    <option value="">Select Moed
    <option value="A">A
    <option value="B">B
    <option value="C">C
	</select>
	
	Question Number:
	<input type="number" ng-model="qnumber" min="0" max="100" ng-blur="onAddQuestionNumber()">
	
	<br/>
        Tags :
        
         <tagger ng-model="tags.value" options="tags.options" placeholder="Select Tags"></tagger>    
       <!-- <pre>{{ tags | json }}</pre>-->
            <br/><br/>
        Free text:
        <input type="text" ng-model="freeText">
<br/><br/>
         <input type="submit" style="width: 100px;height: 30px;" id="submit" value="Filter" />
 </form>   
</div>    
 <hr>
<br/>
<div ng-repeat="x in questions">
<div style="clear:both"></div>
<div style="clear:both;height:10px;"></div>
<div class="questionsview_userbox">
<div class="userbox"> 
<a href="#users/view?id={{x.userName}}">{{x.userName}} | {{x.comments}}</a> 
</div></div>
<div class="questionsview_details">
<span style="color:#999" title="{{x.createdAt}}">{{x.timeAgo}}</span>
</div>
<div class="questionsview_details q">
{{x.comments}} ans | {{x.likes}} votes
</div>
<div class="questionsview_answer" id="a445">
<div class="questionsgrid_title">
<a href="#questions/view/{{x.id}}">{{x.title}}</a>
<br/><span class="questionsgrid_description"><a href="#questions/view/{{x.id}}">{{x.content}}</a></span>
<div style="clear:both"></div>
</div>  

<ul class="holder noborder">
</ul>

<div style="clear:both;"></div>
</div>
</div>

