


<div style="clear:both"></div>


<div class="questionsview_details"><span style="color:#999">{{question.time | date:'dd-MM-yyyy HH:mm'}}</span></div>



<div class="questionsview_question" id="q{{question.id}}">


    
<div class="questionsview_questiondescription">

        <b> פקלוטה </b>
    <input type="text" ng-model="question.testQuestion.test.course.faculty.name"  disabled="disabled">

    <b>קורס </b>
    <input type="text" ng-model="question.testQuestion.test.course.nameHebrew" disabled="disabled">

    <br/>
    <br/>
    <b>שנה </b>
    <input type="number"  min="1970" max="2020" ng-model="year"  disabled="disabled" value="{{question.testQuestion.test.year}}">

    <b>סמסטר </b>
    <select ng-model="selectedSemester" style="width: 50px" disabled="disabled">
        <option value="">{{question.testQuestion.test.semester}}
    </select>

    <b>מועד </b>
    <select ng-model="selectedMoed" style="width: 50px" disabled="disabled">
        <option value="">{{question.testQuestion.test.moed}}

    </select>
    <b>מספר שאלה </b>
    <input type="number" ng-model="qnumber" min="0" max="100"  disabled="disabled" value="{{question.testQuestion.questionNumber}}">

    <br/>
    <br/>
</div>
 
    <form ng-submit="submit()" class="form-group">
            <b>כותרת </b>
        <input type="text" ng-model="question.title" placeholder="הכנס כותרת לשאלה..." class="textbox" name="title" id="title" tabindex="1" />
        <br/>
        <b>תוכן ההודעה </b>
        <text-angular ng-model="question.content" name="content" ta-toolbar="[['bold','italics','underline','ul','ol','undo','redo','justifyLeft','justifyCenter','justifyRight','insertImage','insertLink','insertVideo']]">

        </text-angular>

    <input type="submit" style="width: 100px;height: 30px;" id="submit" value="עדכן" />
            <img src="img/myloadingimage.gif" style="display: none;" id="loading_image">

    </form>
