<h1>שאלה חדשה <button id="myBtn">Open Modal</button>
</h1>



<form ng-submit="submit()" class="form-group">
    <b> פקולטה</b>

    <tagger tabindex="-1" id="s1" required ng-model="faculty" options="faculties" placeholder="בחר פקולטה" single 
            display-fun="showName" create-fun="createName" on-select="facultySelected" style="border-radius: 10px"></tagger>
    <!--
         <select ng-model="selectedFaculty" 
        ng-options="item.name for item in faculties track by item.id" ng-change="facultySelected(selectedFaculty)">
            <option value="">Select Faculty</option>
	</select>
	-->
    <b>קורס </b>
    <tagger tabindex="-1" id="s1" required ng-model="course" options="courses" placeholder="בחר קורס" 
            single display-fun="showHebName" create-fun="createName" on-select="courseSelected" style="border-radius: 10px"></tagger>
    <!--
	<select ng-model="selectedCourse" 
        ng-options="item.name for item in courses track by item.id" ng-change="courseSelected(selectedCourse)">
    <option value="">Select Course</option>
	</select>
-->
    <br/>

    <b>שנה </b>
    <input type="number" ng-model="year" min="1970" placeholder="2017"  max="2017" required>

    <b>סמסטר </b>
    <select ng-model="selectedSemester" style="width: 50px" required>
        <option value="">--
            <option value="A">א
                <option value="B">ב
                    <option value="C">קיץ
    </select>

    <b>מועד </b>
    <select ng-model="selectedMoed" style="width: 50px" required ng-change="searchTests()" >
        <option value="">--
            <option value="A">א
                <option value="B">ב
                    <option value="C">ג
    </select>
    <b>מספר שאלה </b>
    <input type="number" ng-model="qnumber" min="1" max="100" ng-blur="onAddQuestionNumber()">

    <br/>
    
    <div id="questionExistModel" style="display:none;" >
    <br/>
  <!-- Modal content -->
  <div class="modal-content" style="width: 100%">
      
    <span class="close" id="closeQuestModel">&times;</span>
    
    <b>היי ! <b>
    אנשים שאלו בעבר על שאלה זו בידיוק !
    <a href="#questions/search/faculty={{faculty.id}}&course={{course.id}}&year={{year}}&semester={{selectedSemester}}&moed={{selectedMoed}}&qnum={{qnumber}}">לחץ כאן</a> כדי לצפות
    
  </div>
  
  <br/>

</div>

    <b>כותרת </b>
    <input type="text" ng-model="title" placeholder="הכנס כותרת לשאלה..." class="textbox" name="title" id="title" tabindex="1" />
    <br/>

    <!--        
   OTHER STYLES OF TAGS
   <tagger ng-model="tags1" options="options" placeholder="Select some tags"></tagger>
    <input type="text"/>
    <tagger ng-model="tags1" options="options" disable-new></tagger>
    <tagger ng-model="tags1" options="options" disable-new limit=3></tagger>
    <pre>{{ tags1 | json }}</pre>

    single: <tagger tabindex="-1" id="s1" ng-model="font2" options="fonts" placeholder="Choose font" single display-fun="showName" create-fun="createName" on-select="selected"></tagger>
    single: <tagger tabindex="-1" id="s1" ng-model="font" options="fonts" placeholder="Choose font" single display-fun="showName" create-fun="createName" on-select="selected"></tagger>
    <pre>{{ font | json }}</pre>
    <button ng-click='foc()'>Focus</button>
-->
<div id="tagsDiv" style="display: none">
    <b>תגיות </b>
    
    <!-- <tagger ng-model="tags.value" options="tags.options" placeholder="Select Tags"></tagger>-->
    <multiple-autocomplete ng-model="selectedTags" object-property="name" suggestions-arr="optionsTags" class="select">
        
        
    </multiple-autocomplete>
    <div>
    <input type="text" ng-model="newTag" placeholder="תגית חדשה..."  name="newTag" id="newTag" tabindex="1" />
    <button type=button ng-click="addTag()" style="background-color: whitesmoke">הוסף</button>
    </div>
</div>
    <!--  <pre>{{ tags | json }}</pre>-->

    <!--  <button ng-click="empty.addOption()">Add option</button>-->

    <br/>

    <b>תוכן ההודעה </b>
    <text-angular ng-model="htmlContent" name="content">
        
    </text-angular>



<!--    <div ng-app="fileUpload" ng-controller="MyCtrl">-->
        <!--   watching model:
    <div class="button" ngf-select ng-model="file" ngf-multiple="false">Select File</div>
    on file change multiple:
    <div class="button" ngf-select="upload($files)" ngf-multiple="true">Select File</div>
 -->
     <div id="testNotExistModel" style="display:none;border-color: #800" tabindex='1' >
    <br/>
  <!-- Modal content -->
  <div class="modal-content" style="width: 100%">
      <p>    
    <b> 
        אופס !  
    </b>
    לצערינו אין לנו במאגר המבחנים את המבחן שעליו אתה רוצה לשאול!
    </br>
    <font color="red">
    <b> 
    שים לב
    </b></font>
         אם ברשותך קובץ המבחן או קובץ התשובות,
         <a href="" ng-click="openNewTestDialog()">לחץ כאן</a> 
         כדי לעלותם.
         </br>
         אחרת, הינך מתבקש לעלות את השאלה עצמה כקובץ מצורף
         </br>
         על מנת שאחרים יוכלו לעזור לך.
    </p> 
  </div>
  
  <br/>

</div>
        <b>Drop File:</b>
        <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'"
             style="width: 250px;height: 130px; padding: 0">
            <img  src="img/drag-drop-file.gif" width="230px"> </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        <b>Files Uploaded</b>
        <ul>
            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
        </ul>
        <div class="progress" style="background-color: #5cb85c;width: 0%">
            <div class="bar"></div >
            <div class="percent">0%</div >
        </div>
 <!--       
 <b>Files Upload Status:</b>
        <pre>{{log}}</pre>
    </div>-->

    <img src="img/myloadingimage.gif" style="display: none;" id="loading_image">

    <input type="submit" style="width: 120px;height: 50px;" id="submit" value="פרסם שאלה" />
    <div id="haveToAddFileLine" style="display: none;color: red">
        <br/>
        * שים לב, אתה חייב לעלות קובץ
    </div>
    <!--  <button ng-click="reset()">RESET</button>-->
</form>

<hr>


<div id="newTestModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="closeModel">&times;</span>
    <h2>היי  !</h2>
    <h3>לאחר חיפוש מעמיק, גילינו שאין לנו בכלל קבצים הקשורים למבחן זה</h3>
    <h3>נעריך מאד אם תוכל לעלות את קובץ המבחן, הפתרונות, או כל דבר אחר רלוונטי </h3>
    
        <form ng-submit="addTest()">

    <b> פקולטה </b>
    
    <tagger tabindex="-1" id="s1" required ng-model="faculty" options="faculties" placeholder="בחר פקולטה" single 
            display-fun="showName" create-fun="createName" on-select="facultySelected" style="border-radius: 10px"></tagger>

    <b>קורס </b>
    <tagger tabindex="-1" id="s1" required ng-model="course" options="courses" placeholder="בחר קורס" 
            single display-fun="showHebName" create-fun="createName" on-select="courseSelected" style="border-radius: 10px"></tagger>
        <br/>

        <b>שנה </b>
        <input type="number" ng-model="year" min="1970" max="2020">

        <b>סמסטר </b>
        <select ng-model="selectedSemester" style="width: 50px">
            <option value="">--
                <option value="A">א
                    <option value="B">ב
                        <option value="C">קיץ
        </select>

        <b>מועד </b>
        <select ng-model="selectedMoed" style="width: 50px">
            <option value="">--
                <option value="A">א
                    <option value="B">ב
                        <option value="C">ג
        </select>
        <br/>
        
        <b>Drop File:</b>
        <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'"
             style="width: 250px;height: 130px; padding: 0">
            <img  src="img/drag-drop-file.gif" width="230px"> </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        <b>Files Uploaded</b>
        <ul>
            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
        </ul>
        <div class="progress" style="background-color: #5cb85c;width: 0%">
            <div class="bar"></div >
            <div class="percent">0%</div >
        </div>
 <!--       
 <b>Files Upload Status:</b>
        <pre>{{log}}</pre>
    </div>--> 

        <img src="img/myloadingimage.gif" style="display: none;" id="loading_image">

        <input type="submit" style="width: 100px;height: 30px;" id="submitTest" value="הוסף" />
        
        </form>        
  </div> 
</div>

<!--
<form action="<?php echo generateLink("questions","post");?>" method="post" onsubmit="javascript:return cform();">

<h1>What would you like to ask or contribute?</h1>
<input type="textbox" placeholder="Title for your question" class="textbox" name="title" id="title" tabindex="1"/><br/>
 
      

<div id="wmd-editor" class="wmd-panel" style="padding-top:10px">
<div id="wmd-button-bar"></div>
<textarea id="wmd-input" name="description" tabindex="2" ></textarea>
</div>
<div id="wmd-preview" class="markdown"></div>
 

<h3 style="padding-top:20px">Share a Link</h3>
<input type="textbox" class="textbox" name="link" id="link" tabindex="3"/><br/>

<h3>Tags</h3>
<select class="textbox" placeholder="Tag your question" name="tags" id="tags" tabindex="4"/></select>
<br/>
<input type="checkbox" id="answercheck" name="answercheck" value="1" onclick="fanswer();" tabindex="4"> Make this a knowledge-base article
<br/><br/>
<input type="submit" value="Ask Question" class="button" id="askquestion" tabindex="5">
</form> -->