<div style="width:80%">

<button id="myBtn" style="float: left;background-color: whitesmoke;margin-left: 30%" class="btn-lg">הוסף מבחן חדש</button>

<h1>שאלה חדשה </h1>



<form ng-submit="submit()" class="form-group">
    <div style="margin-top:20px; width:100%; float:right;">
        <b> פקולטה</b>
        <select chosen ng-change="facultySelected()" placeholder-text-single="'בחר פקולטה'" no-results-text="'טוען..'" search-contains="true" ng-model="faculty" ng-options="s as s.name for s in faculties" > 
            <option value=""></option>
        </select>
        <b>קורס </b>
        <select chosen ng-change="courseSelected()" placeholder-text-single="'בחר קורס'" no-results-text="'אין נתונים'" search-contains="true" ng-model="course" ng-options="s as s.nameHebrew for s in courses" > 
            <option value=""></option>
        </select>
    </div>

    <div style="margin-top:20px; width:100%; float:right;">
        <b>שנה</b>
        <input type="number" ng-model="year" required ng-disabled="course == undefined" min="1970" max="2020">

        <b>סמסטר</b>
        <select chosen disable-search="true" required ng-disabled="course == undefined" ng-model="selectedSemester" style="width: 70px">
            <option value="">-בחר-</option>
            <option value="A">א
            <option value="B">ב
            <option value="C">קיץ
        </select>

        <b>מועד</b>
        <select chosen disable-search="true" required ng-disabled="course == undefined" ng-model="selectedMoed" style="width: 70px" ng-change="searchTests()">
                <option value="">-בחר-</option>
                <option value="A">א
                <option value="B">ב
                <option value="C">ג
        </select>
        <b>מספר שאלה</b>
        <input type="number" ng-model="qnumber" ng-disabled="course == undefined" min="1" max="100" ng-blur="onAddQuestionNumber()">
    </div>
    <div id="questionExistModel" style="display:none;" >
        <br/>
		<div style="clear:both"></div>
      <!-- Modal content -->
      <div class="modal-content" style="width: 100%">
	
        <span class="close" id="closeQuestModel">&times;</span>

        <b>היי ! <b>
        אנשי שאלו בעבר על שאלה זו בידיוק!
        <a href="#questions/search/faculty={{faculty.id}}&course={{course.id}}&year={{year}}&semester={{selectedSemester}}&moed={{selectedMoed}}&qnum={{qnumber}}">לחץ כאן</a> כדי לצפות

      </div>
      <br/>
    </div>
    
    <div style="margin-top:20px; width:100%; float:right;">
        <div style="float:right;">
            תגיות
            <select multiple chosen
                ng-disabled="course == undefined"
                no-results-text="'אין נתונים'"
                placeholder-text-multiple="'בחר תגיות'"
                ng-model="selectedTags" ng-options="s as s.name for s in optionsTags"
                style="width:150px;">
            </select>
        </div>
            <div style="margin-right:5px; float: right;">או הוסף חדשה
            <input type="text" ng-disabled="course == undefined" ng-model="newTag" placeholder="" style="width:150px;" name="newTag" id="newTag" tabindex="1" />
            <button ng-disabled="course == undefined" type=button ng-click="addTag()" style="background-color: whitesmoke">הוסף</button>
            </div>
    </div>
    <div style="margin-top:20px; width:100%; float:right;">
        <b>כותרת </b>
        <input type="text" ng-model="title" placeholder="הכנס כותרת לשאלה..." class="textbox" name="title" id="title" tabindex="1" />
    </div>
    <div style="margin-top:20px; width:100%; float:right;">
        <b>תוכן ההודעה </b>
        <text-angular ng-model="htmlContent" name="content" ta-toolbar="[['bold','italics','underline','ul','ol','undo','redo','justifyLeft','justifyCenter','justifyRight','insertImage','insertLink','insertVideo']]">

        </text-angular>
    </div>

     <div id="testNotExistModel" style="display:none;border-color: #800" tabindex='1' >
	 <div style="clear:both"></div>
    <br/>
  <!-- Modal content -->
  <div class="modal-content" style="width: 100%">
      <p>    
    <b> 
        אופס!  
    </b>
    לצערינו אין לנו במאגר המבחנים את המבחן המבוקש.
    </br>
    <font color="red">
    <b> 
    שים לב
    </b></font>
         אם ברשותך קובץ המבחן או קובץ התשובות,
         <a href="" ng-click="openNewTestDialog()">לחץ כאן</a> 
         כדי להעלותם.
         </br>
         אחרת, הינך מתבקש להעלות את השאלה עצמה כקובץ מצורף
         </br>
         על מנת שאחרים יוכלו לעזור לך.
    </p> 
  </div>
  
  <br/>

</div>
  <br/>
  
        <b>גרור קובץ לכאן:</b>
		  <br/>
        <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'"
             style="width: 250px;height: 130px; padding: 0">
            <img  src="img/drag-drop-file.gif" width="230px"> </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        <ul>
            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
        </ul>
        <div class="progress" style="background-color: #5cb85c;width: 0%">
            <div class="bar"></div >
            <div class="percent">0%</div >
        </div>
 <!--       
 <b>Files Upload Status:</b>
        <pre>{{log}}</pre>
    </div>-->

    <img src="img/myloadingimage.gif" style="display: none;" id="loading_image">

    <input type="submit" style="width: 120px;height: 50px;" id="submit" value="פרסם שאלה" />
    <div id="haveToAddFileLine" style="display: none;color: red">
        <br/>
        * שים לב, אתה חייב לעלות קובץ
    </div>
    <!--  <button ng-click="reset()">RESET</button>-->
</form>

<hr>


<div id="newTestModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="closeModel">&times;</span>
    <div ng-show="pressNewTest">
        
         <h2>הוספת מבחן חדש</h2>
      
    </div>
    <div ng-hide="pressNewTest">
            <h2>אהלן!</h2>
    <h3>לא נמצאו במאגרים שלנו קבצים התואמים לקריטריון החיפוש שלך,</h3>
    <h3>נעריך מאד אם תוכל לעלות קבצי מבחנים, פתרונות, או כל קובץ רלוונטי אחר.</h3>
  
    </div>
        <form ng-submit="addTest()">

    <b> פקולטה </b>
    
    <tagger tabindex="-1" id="s1" required ng-model="faculty" options="faculties" placeholder="בחר פקולטה" single 
            display-fun="showName" create-fun="createName" on-select="facultySelected" style="border-radius: 10px"></tagger>

    <b>קורס </b>
    <tagger tabindex="-1" id="s1" required ng-model="course" options="courses" placeholder="בחר קורס" 
            single display-fun="showHebName" create-fun="createName" on-select="courseSelected" style="border-radius: 10px"></tagger>
        <br/>

        <b>שנה </b>
        <input type="number" ng-model="year" min="1970" max="2020">

        <b>סמסטר </b>
        <select ng-model="selectedSemester" style="width: 50px">
            <option value="">--
                <option value="A">א
                    <option value="B">ב
                        <option value="C">קיץ
        </select>

        <b>מועד </b>
        <select ng-model="selectedMoed" style="width: 50px">
            <option value="">--
                <option value="A">א
                    <option value="B">ב
                        <option value="C">ג
        </select>
        <br/>
        
        <b>גרור קובץ לכאן:</b>
		<br/>
        <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'"
             style="width: 250px;height: 130px; padding: 0">
            <img  src="img/drag-drop-file.gif" width="230px"> </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      
        <ul>
            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
        </ul>
        <div class="progress" style="background-color: #5cb85c;width: 0%">
            <div class="bar"></div >
            <div class="percent">0%</div >
        </div>
 <!--       
 <b>Files Upload Status:</b>
        <pre>{{log}}</pre>
    </div>--> 

        <img src="img/myloadingimage.gif" style="display: none;" id="loading_image">

        <input type="submit" style="width: 100px;height: 30px;" id="submitTest" value="הוסף" />
        
        </form>        
  </div> 
</div>

</div>