
<h1>{{question.title}}</h1>

<div style="clear:both"></div>

<div class="questionsview_userbox">
{{question.user}}
</div>

<div class="questionsview_details"><span style="color:#999">{{question.createdOn}}</span></div>

<div ng-show="isTheSameUser" class="questionsview_options"><a href="#questions/edit/{{question.id}}">edit</a></div>

 

<div class="questionsview_question" id="q{{question.id}}">

<div class="questionsview_questiondescription">

        <b> Faculty:</b>

    <input type="text" ng-model="question.faculty.name"  disabled="disabled">

    <b>Course:</b>
    <input type="text" ng-model="question.course.name" disabled="disabled">

    <br/>
    <br/>
    <b>Year:</b>
    <input type="number"  min="1970" max="2020" ng-model="year"  disabled="disabled" value="{{question.year}}">

    <b>Semester:</b>
    <select ng-model="selectedSemester" style="width: 50px" disabled="disabled">
        <option value="">{{question.semester}}
    </select>

    <b>Moed:</b>
    <select ng-model="selectedMoed" style="width: 50px" disabled="disabled">
        <option value="">{{question.moed}}

    </select>
    <b>Question Number:</b>
    <input type="number" ng-model="qnumber" min="0" max="100"  disabled="disabled" value="{{question.questionNumber}}">

    <br/>
    <br/>
    
    <div class="markdown" style="border: bold">{{question.content}}</div>

<!--
<?php if (!empty($link)):?>
<p><br/><?php echo $link;?> <?php if ($cache):?><em><a href="<?php echo basePath();?>/questions/cache/<?php echo $id;?>" target="_blank">(view cache)</a></em><?php endif;?></p>
<?php endif;?>
-->

<ul class="holder noborder">
<li ng-repeat="tag in question.tags" class="bit-box nopadding"><a href="#/questions?tag={{tag.id}}">{{tag.name}}</a></li>
</ul>

<!--
<div class="comments">
    <div id="comments_q{{x.id}}">

<?php foreach($comments as $comment):?>
<div  ng-repeat="comment in x.comments" class="comment">
<div class="comment_text"><?php echo $comment['comment'];?> - <a href="<?php echo basePath();?>/users/<?php echo $comment['userid'];?>/<?php echo $comment['username'];?>"><?php echo $comment['username'];?></a></div>

<div class="commentdel" id="commentdel_<?php echo $comment['id'];?>"><?php if ($comment['userid'] == $_SESSION['userid']) { echo "x"; }?></div>

<div class="commentfave <?php if ($comment['voted'] > 0) { echo "voteselected"; }?>" id="commentfave_<?php echo $comment['id'];?>">♥</div><div class="commentfavevotes"><?php if ($comment['votes'] != 0) { echo $comment['votes']; }?></div>
<div style="clear:both;"></div>
</div>
<?php endforeach;?>

</div>
<div id="comment_q<?php echo $id;?>" class="commentsadd">
<span style="float:left"><a href="javascript:void(0)" onclick="javascript:comment('q<?php echo $id;?>')">Add comment</a></span>

<span style="float:right" style="display:none" class="viewallcomments"><a href="javascript:void(0)" onclick="javascript:viewallcomments('q<?php echo $id;?>')"></a></span>
</div>
</div>
<div style="height:30px;"></div>
</div>



<div style="clear:both"></div>
</div>


<?php if ($answerscount != 0):?>

<div class="toppagination">
<div style="clear:both"></div>
<?php if($answerscount > ANSWERS_PER_PAGE):?>
<div class="pagination" style="margin-left:5px;"><?php echo $pagination;?></div>
<?php endif;?>
<div class="pagination" style="margin-left:5px;float:right;margin-right:5px;"><?php echo $orderOptions;?></div>
<div style="clear:both"></div>
</div>

<div>
<div style="float:left"><h2><?php echo $answerscount;?><?php if ($kb):?> Comments<?php else:?> Answers<?php endif;?></h2></div>

<div style="clear:both"></div>
</div>


-->

<br/><hr>

<div  ng-repeat="answer in question.answers" >
    <div class="questionsview_userbox">
    {{answer.username}}
    </div>

    <div class="questionsview_details"><span style="color:#999">{{answer.createdOn}}</span>
    </div>

    <div ng-show="answer.isTheSameUser" class="questionsview_options"><a href="#answers/edit/{{answer.id}}">edit</a></div>


    <div ng-show="answer.accepted" class="questionsview_accepted">
       <img src='img/accepted.png' style="width: 20px">

        Accepted Answer
    </div>

    <div ng-hide="answer.accepted" ng-show="answer.isTheSameUser" class="questionsview_accept">
    <span ng-click="acceptAnswer(answer.id)">Accept this answer</span>
    </div>


    <div class="questionsview_answer" id="a{{answer.id}}">
    <div class="questionsview_rating">
    <div class="questionsview_box">
        
        <div class="questionsview_up" ng-click="answerVoteUp(answer.id)"><img src="img/like.jpg"></div><div class="questionsview_vote">
            <div ng-show="answer.accepted" style="padding-top: 10px;">
       <img src='img/liked-ans.png' style="width: 35px">
    </div>{{answer.votes}}</div><div class="questionsview_down" ng-click="answerVoteDown(answer.id)"><img src="img/unlike.jpg"></div>
    </div>



    </div>
    <div class="questionsview_answerdescription">
    <div class="markdown">{{answer.content}}</div>

    <!--
    <div class="comments">
    <div id="comments_a<?php echo $answer['id'];?>">

    <?php foreach($answer['comments'] as $comment):?>
    <div class="comment">
    <div class="comment_text"><?php echo $comment['comment'];?> - <a href="<?php echo basePath();?>/users/<?php echo $comment['userid'];?>/<?php echo $comment['username'];?>"><?php echo $comment['username'];?></a></div>

    <div class="commentdel" id="commentdel_<?php echo $comment['id'];?>"><?php if ($comment['userid'] == $_SESSION['userid']) { echo "x"; }?></div>

    <div class="commentfave <?php if ($comment['voted'] > 0) { echo "voteselected"; }?>" id="commentfave_<?php echo $comment['id'];?>">♥</div><div class="commentfavevotes"><?php if ($comment['votes'] != 0) { echo $comment['votes']; }?></div>
    <div style="clear:both;"></div>
    </div>
    <?php endforeach;?>



    </div>
    <div id="comment_a<?php echo $answer['id'];?>" class="commentsadd">

    <span style="float:left"><a href="javascript:void(0)" onclick="javascript:comment('a<?php echo $answer['id'];?>')">Add comment</a></span>
    <span style="float:right" style="display:none" class="viewallcomments"><a href="javascript:void(0)" onclick="javascript:viewallcomments('a<?php echo $answer['id'];?>')"></a></span>

    </div>
    </div>
    -->

    <div style="height:20px;"></div>
    </div>


    <div style="clear:both;"></div>
    </div>
</div>
<!--
<div class="bottompagination">
<div style="clear:both"></div>
<?php if($answerscount > ANSWERS_PER_PAGE):?>
<div class="pagination" style="margin-left:5px;"><?php echo $pagination;?></div>
<?php endif;?>
<div class="pagination" style="margin-left:5px;float:right;margin-right:5px;"><?php echo $orderOptions;?></div>
<div style="clear:both"></div>
</div>

<?php else:?><h3><?php if ($kb):?>No comments on this article as yet.<?php else:?>No answers as yet. Be the first to write an answer.<?php endif;?></h3><?php endif;?>
-->


<div class="questionsview_form" ng-show="isConnected">
  <form ng-submit="submitAnswar()">
<h2 style="padding-top:0px;padding-bottom:16px;">Answer Question</h2>

   <text-angular ng-model="htmlContent" name="content"><p>Write here...</p></text-angular>

<br/><br/>
<input type="submit" value="Answer Question" style="width: 150px;height: 50px;" class="button">

</form>
</div>
