<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {background-color:#f5f5f5;}
</style>

<div style="width:80%">


<h1> קבצים חדשים שטרם אושרו  <i> </i></h1>


<hr>
    <img src="img/myloadingimage.gif" style="display: none;" id="loading_image">
    <table>
        <tr>
            <th>הועלה ב-</th>
            <th>קורס</th>
            <th>שנה</th>
            <th>סמסטר</th>
            <th>מועד</th>
            <th>מרצה</th>
            <th>סוג קובץ</th>
            <th>ציון</th>
            <th>הועלה על ידי</th>
            <th>קישור</th>
            <th>אשר</th>
        </tr>
        <tr ng-repeat="x in files">
            <td>{{ x.uploadTimestamp | date:'dd-MM-yyyy HH:mm' }}</td>
            <td>{{ x.test.course.nameHebrew }}</td>
            <td>{{ x.test.year }}</td>
            <td>{{ x.test.semester }}</td>
            <td>{{ x.test.moed }}</td>
            <td>{{ x.teacher }}</td>
            <td>{{ x.fileType }}</td>
            <td>{{ x.grade }}</td>
            <td title="{{x.user.email}}">{{ x.user.firstName}} {{ x.user.lastName}}</td>
            <td><a href="{{x.url}}" target="_blank"><img ng-src="{{getFileSrc(x)}}" src="img/file_icon.png" style="width: 75px" ng-attr-title="{{getFileName(x)}}"></a></td>
            <td><span ng-click="approveFile(x.id)">אשר</span></td>
        </tr>
    </table>

<div ng-show="test.length==0">
    <h2>אין קבצים לא מאושרים...</h2>
</div>

<div ng-show="totalCount>pageSize">
    <button ng-disabled="currentPage == 0" ng-click="pageBack()" style="background-color:  whitesmoke">
        הקודם
    </button>
עמוד
    {{currentPage+1}}/{{numberOfPages()}} 
    <button ng-disabled="currentPage >= totalCount/pageSize - 1" ng-click="pageNext()" style="background-color:  whitesmoke">
        הבא
    </button>
</div>


</div>