
<script>
function cform() {
	var name = '';
	var email = '';
	var password = '';
	name = $("#name").val();
	email = $("#email").val();
	password = $("#password").val();
 

	if (name.length < 1 || name.length > 100) {
		$("#name").addClass('textalert');
		$.fancyalert('Please enter your name');
		$("#name").focus();
		return false;
	} else {
		$("#name").removeClass('textalert');
	}
	
	if (email.length < 1 || email.length > 100) {
		$("#email").addClass('textalert');
		$.fancyalert('Please enter your e-mail');
		$("#email").focus();
		return false;
	} else {
		$("#email").removeClass('textalert');
	}

	
	return true;
}
</script>
<div style="width:80%">


<h1>עריכת משתמש</h1>

<form ng-submit="submit()" onsubmit="javascript:return cform();">

<b>שם  :</b>
{{user.firstName}} {{user.lastName}}
&nbsp &nbsp &nbsp
<b>אימייל :</b>
{{user.email}}


<hr>
    <input type="checkbox" ng-model="user.isEmailSubscribed">
<b>אפשר קבלת מיילים
    </br>
    <small>
    ( ביטול אפשרות זאת יחסום באופן גורף את שליחת המיילים מאתר זה, כולל מיילים בנוגע לתשובה חדשה על שאלות שפרסמת)
</small>
    </b>
</br></br>
<input type="checkbox" ng-model="user.isEmailSubscribed">
<b>אפשר קבלת מיילים עבור פוסטים חדשים בקורסים שלי</b>

<!--<h3>Password <span style="font-size:10px">(Leave blank if you do not want to update)</span></h3> 
<input type="password" class="textbox" name="password" id="password" ng-model="user.password" />
-->
<hr>
<h3><u>הקורסים שלי : </u></h3>

<b> פקולטה</b>
    
    <tagger tabindex="-1" id="s1" required ng-model="faculty" options="faculties" placeholder="בחר פקולטה" single 
            display-fun="showName" create-fun="createName" on-select="facultySelected" style="border-radius: 10px"></tagger>
            <br/>
         <b> קורסים</b>   
  <multiple-autocomplete ng-model="selectedCourses" object-property="nameHebrew" suggestions-arr="courses">
    </multiple-autocomplete>
    
<br/><br/>
<input type="submit" value="שמור פרטים" style="width: 160px;height:50px;" class="button">
</form>

</div>