
<script>
function cform() {
	var name = '';
	var email = '';
	var password = '';
	name = $("#name").val();
	email = $("#email").val();
	password = $("#password").val();
 

	if (name.length < 1 || name.length > 100) {
		$("#name").addClass('textalert');
		$.fancyalert('Please enter your name');
		$("#name").focus();
		return false;
	} else {
		$("#name").removeClass('textalert');
	}
	
	if (email.length < 1 || email.length > 100) {
		$("#email").addClass('textalert');
		$.fancyalert('Please enter your e-mail');
		$("#email").focus();
		return false;
	} else {
		$("#email").removeClass('textalert');
	}

	
	return true;
}
</script>


<h1>Edit Profile</h1>

<form ng-submit="submit()" onsubmit="javascript:return cform();">

<h3>Name</h3>
<input type="textbox" class="textbox" name="firstName" id="firstName"  ng-model="user.firstName" disabled="disabled" /><br/>
<input type="textbox" class="textbox" name="lastName" id="firstName"  ng-model="user.lastName" disabled="disabled"/><br/>

<h3>E-mail</h3>
<input type="textbox" class="textbox" name="email" id="email" ng-model="user.email" disabled="disabled"/><br/>

<!--<h3>Password <span style="font-size:10px">(Leave blank if you do not want to update)</span></h3> 
<input type="password" class="textbox" name="password" id="password" ng-model="user.password" />
-->

<h3>Courses List:</h3>

<b> Faculty:</b>
    
    <tagger tabindex="-1" id="s1" required ng-model="faculty" options="faculties" placeholder="Select Faculty" single 
            display-fun="showName" create-fun="createName" on-select="facultySelected" style="border-radius: 10px"></tagger>
            <br/>
         <b> Courses</b>   
  <multiple-autocomplete ng-model="selectedCourses" object-property="name" suggestions-arr="courses">
    </multiple-autocomplete>
    
<br/><br/>
<input type="submit" value="Update Profile" style="width: 120px;height:50px;" class="button">
</form>