
<script>
function cform() {
	var name = '';
	var email = '';
	var password = '';
	name = $("#name").val();
	email = $("#email").val();
	password = $("#password").val();
 

	if (name.length < 1 || name.length > 100) {
		$("#name").addClass('textalert');
		$.fancyalert('Please enter your name');
		$("#name").focus();
		return false;
	} else {
		$("#name").removeClass('textalert');
	}
	
	if (email.length < 1 || email.length > 100) {
		$("#email").addClass('textalert');
		$.fancyalert('Please enter your e-mail');
		$("#email").focus();
		return false;
	} else {
		$("#email").removeClass('textalert');
	}

	
	return true;
}
</script>
<div style="width:80%">


<h1>עריכת הקורסים שלי</h1>

<form ng-submit="submit()" onsubmit="javascript:return cform();">

<h3>שם  :</h3>
{{user.firstName}} {{user.lastName}}

<h3>אימייל :</h3>
{{user.email}}

<!--<h3>Password <span style="font-size:10px">(Leave blank if you do not want to update)</span></h3> 
<input type="password" class="textbox" name="password" id="password" ng-model="user.password" />
-->

<h3>הקורסים שלי :</h3>

<b> פקולטה</b>
    
    <tagger tabindex="-1" id="s1" required ng-model="faculty" options="faculties" placeholder="בחר פקולטה" single 
            display-fun="showName" create-fun="createName" on-select="facultySelected" style="border-radius: 10px"></tagger>
            <br/>
         <b> קורסים</b>   
  <multiple-autocomplete ng-model="selectedCourses" object-property="nameHebrew" suggestions-arr="courses">
    </multiple-autocomplete>
    
<br/><br/>
<input type="submit" value="שמור רשימת קורסים" style="width: 160px;height:50px;" class="button">
</form>

</div>