<div style="width:80%">


<button id="myBtn" style="float: left;background-color: whitesmoke;margin-left: 10%" class="btn-lg" >הוסף מבחן/קובץ חדש</button>

<h1> חיפוש מבחנים  <i> </i></h1>

<!--<input type='button' id='hideshow' value='הצג\הסתר חיפוש '>-->

<div id="searchPanel">
    <form ng-submit="submit()">

        <div style="margin-top:10px; width:100%;">
            <b> פקולטה </b>

            <select chosen ng-change="facultySelected()" placeholder-text-single="'בחר פקולטה'" no-results-text="'טוען..'" search-contains="true" ng-model="faculty" ng-options="s as s.name for s in faculties" > 
                        <option value=""></option>
                    </select>

            <b>קורס </b>
            <select chosen ng-change="courseSelected()" placeholder-text-single="'בחר קורס'" no-results-text="'אין נתונים'" search-contains="true" ng-model="course" ng-options="s as s.nameHebrew for s in courses" > 
                <option value=""></option>
            </select>
        </div>
        <div style="margin-top:10px; width:100%;">
            <b>שנה </b>
            <input type="number" ng-model="year" placeholder="----" min="1970" max="2017">

            <b>סמסטר </b>
            <select chosen disable-search="true" ng-disabled="course == undefined" ng-model="selectedSemester" style="width: 70px">
                <option value="">הכל
                <option value="A">א
                <option value="B">ב
                <option value="C">קיץ
            </select>

            <b>מועד </b>
            <select chosen disable-search="true" ng-disabled="course == undefined" ng-model="selectedMoed" style="width: 70px">
                    <option value="">הכל
                    <option value="A">א
                    <option value="B">ב
                    <option value="C">ג
            </select>
        </div>
        <div style="margin-top:10px; width:100%;">
            <input type="submit" style="width: 100px;height: 30px;" id="submit" value="חפש" />
            <img src="img/myloadingimage.gif" style="display: none;" id="loading_image">
        </div>
    </form>
</div>
<hr>
<br/>
<div ng-repeat="x in tests">
    <div style="clear:both"></div>
    <div style="clear:both;height:10px;"></div>

<!--    <div class="questionsview_details">
        <span style="color:#999" title="{{x.createdAt}}">הועלה ב : {{x.timeAgo}}</span>
    </div>-->
<!--    <div class="questionsview_details q">
        {{x.comments}} ans | {{x.posts}} posts
    </div>-->
    <div class="questionsview_details" style="float:right">
        <span style="color:black;">
            <b>{{x.course.nameHebrew}}</b> -      
        </span>
    </div>
    <div class="questionsview_answer" id="a445">
        <div class="questionsgrid_title">
            <a href="#tests/view/{{x.id}}" style="color:blue;">- {{x.year}} -</a>
            <br/><span class="questionsgrid_description"><a href="#tests/view/{{x.id}}"> סמסטר:  {{x.semester}} - מועד:  {{x.moed}}</a>
            </span>
            <img ng-show="x.files.length>0" src="img/attachment.png" style="width: 40px;float: left" title="יש קבצים מצורפים">           
        </div>

        <ul class="holder noborder">
        </ul>

        <div style="clear:both;"></div>
    </div>
</div>
<div ng-show="test.length==0">
    <h2>אין תוצאות...</h2>
    <h4>אולי תשנה את קריטריוני החיפוש שלך?</h4>
</div>

<div ng-show="totalCount>pageSize">
    <button ng-disabled="currentPage == 0" ng-click="pageBack()" style="background-color:  whitesmoke">
        הקודם
    </button>
עמוד
    {{currentPage+1}}/{{numberOfPages()}} 
    <button ng-disabled="currentPage >= totalCount/pageSize - 1" ng-click="pageNext()" style="background-color:  whitesmoke">
        הבא
</div>



<div id="newTestModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="closeModel">&times;</span>
    <div ng-show="pressNewTest">
        
         <h2>הוספת מבחן חדש</h2>
      
    </div>
    <div ng-hide="pressNewTest">
            <h2>אהלן!</h2>
    <h3>לא נמצאו במאגרים שלנו קבצים התואמים לקריטריון החיפוש שלך,</h3>
    <h3>נעריך מאד אם תוכל לעלות קבצי מבחנים, פתרונות, או כל קובץ רלוונטי אחר.</h3>
  
    </div>

        <form ng-submit="addTest()">

    <b> פקולטה </b>
    
    <tagger tabindex="-1" id="s1" required ng-model="faculty" options="faculties" placeholder="בחר פקולטה" single 
            display-fun="showName" create-fun="createName" on-select="facultySelected" style="border-radius: 10px"></tagger>

    <b>קורס </b>
    <tagger tabindex="-1" id="s1" required ng-model="course" options="courses" placeholder="בחר קורס" 
            single display-fun="showHebName" create-fun="createName" on-select="courseSelected" style="border-radius: 10px"></tagger>
        <br/>

        <b>שנה </b>
        <input type="number" required ng-model="year" min="1970" max="2020">

        <b>סמסטר </b>
        <select ng-model="selectedSemester" required  style="width: 50px">
            <option value="">--
                <option value="A">א
                    <option value="B">ב
                        <option value="C">קיץ
        </select>

        <b>מועד </b>
        <select ng-model="selectedMoed" required style="width: 50px">
            <option value="">--
                <option value="A">א
                    <option value="B">ב
                        <option value="C">ג
        </select>
        <br/>
        <br/>
        <b>גרור קובץ לכאן:</b>
		<br/>
        <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'"
             style="width: 250px;height: 130px; padding: 0">
            <img  src="img/drag-drop-file.gif" width="230px"> </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        <ul>
            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
        </ul>
        <div class="progress" style="background-color: #5cb85c;width: 0%">
            <div class="bar"></div >
            <div class="percent">0%</div >
        </div>
 <!--       
 <b>Files Upload Status:</b>
        <pre>{{log}}</pre>
    </div>--> 

        <img src="img/myloadingimage.gif" style="display: none;" id="loading_image">

        <input type="submit" style="width: 100px;height: 30px;" id="submitTest" value="הוסף" />
        
        </form>
    
      
    
  </div>
  
  
</div>

</div>