<h1>דף מבחן <i> </i></h1>
<hr>
   <b> פקולטה </b>

    <input type="text" ng-model="test.course.faculty.name"  disabled="disabled">

    <b>קורס </b>
    <input type="text" ng-model="test.course.name" disabled="disabled">

    <br/>
    <br/>
    <b>שנה </b>
    <input type="number"  min="1970" max="2020" ng-model="year"  disabled="disabled" value="{{test.year}}">

    <b>סמסטר </b>
    <select ng-model="selectedSemester" style="width: 50px" disabled="disabled">
        <option value="">{{test.semester}}
    </select>

    <b>מועד </b>
    <select ng-model="selectedMoed" style="width: 50px" disabled="disabled">
        <option value="">{{test.moed}}

    </select>
 <hr>
 <div id="filesDiv">
    <h3>קבצים: </h3>
    <div ng-repeat="x in test.files" style="float: right">
        <div ng-show="x.type == 'word'">
            <a href="{{x.filePath}}"><img src="img/word.png" style="width: 60px"></a>
        </div>
        <div ng-show="x.type == 'pdf'">
            <a href="{{x.filePath}}"><img src="img/pdf.jfif" style="width: 60px"></a>
        </div>
    </div>
     <div style="clear:both"></div>
 </div>
 <hr>

<input type='button' id='hideshow' value='הצג\ הסתר חיפוש'>

<div id="searchPanel">
    <h3>סינון שאלות </h3>
    <form ng-submit="submit()">
 
        <b>מספר שאלה </b>
        <input type="number" ng-model="qnumber" min="0" max="100">

        <b>טקסט חופשי  </b>
        <input type="text" ng-model="freeText">
        
        <div id="tagsDiv">
            <b>תגיות  </b>
        
        <tagger ng-model="tags" options="options" placeholder="Select tags"></tagger>

        </div>

        <input type="submit" style="width: 100px;height: 30px;" id="submit" value="סנן" />
    </form>
</div>
<hr>
<div ng-repeat="x in questions">
    <div style="clear:both"></div>
    <div style="clear:both;height:10px;"></div>
    <div class="questionsview_userbox">
        <div class="userbox">
            <a href="#users/view?id={{x.user.id}}">{{x.user.firstName}} {{x.user.lastName}}</a>
        </div>
    </div>
    <div class="questionsview_details">
        <span style="color:#999">{{x.time | date:'dd-MM-yyyy HH:mm'}}</span>
    </div>
    <div class="questionsview_details" style="float:right">
        <span style="color:#999">
            
            - {{x.testQuestion.test.moed}}- 
            {{x.testQuestion.test.semester}} -
            {{x.testQuestion.test.year}}- 
            {{x.testQuestion.questionNumber}}
        
        </span>
    </div>
    <div class="questionsview_details q">
        {{x.answers}} ans | {{x.votes}} votes
    </div>
    <div class="questionsview_answer" id="a445">
        <div class="questionsgrid_title">
            <a href="#questions/view/{{x.id}}">{{x.title}}</a>
            <br/><span class="questionsgrid_description"><a href="#questions/view/{{x.id}}"> 
                    <div class="markdown" style="border: bold" ng-bind-html="x.content"></div>
            <span class="markdown" style="border: bold">...</span>
                </a></span>
            <div style="clear:both"></div>
        </div>

        <ul class="holder noborder">
        </ul>

        <div style="clear:both;"></div>
    </div>
</div>