<h1>דף מבחן <i> </i></h1>
<hr>
   <b> פקולטה </b>

    <input type="text" ng-model="test.course.faculty.name"  disabled="disabled">

    <b>קורס </b>
    <input type="text" ng-model="test.course.nameHebrew" disabled="disabled">

    <br/>
    <br/>
    <b>שנה </b>
    <input type="number"  min="1970" max="2020" ng-model="year"  disabled="disabled" value="{{test.year}}">

    <b>סמסטר </b>
    <input type="text" ng-model="test.semester" style="width: 50px" disabled="disabled">

    <b>מועד </b>
     <input type="text" ng-model="test.moed" style="width: 50px" disabled="disabled">

 <hr>
<div id="filesDiv" ng-show="test.files.length>0">
    <br/>
    <b style="float: right">קבצים: </b>
    <div ng-repeat="x in test.files" style="float: right" >
        <a href="{{x.url}}" target="_blank"><img ng-src="{{getFileSrc(x)}}" src="img/file_icon.png" style="width: 60px" title="{{x.url}}"></a>
    </div>
     <div style="clear:both"></div>
 </div>
 <hr>

<input type='button' id='hideshow' value='הצג\ הסתר חיפוש'>

<div id="searchPanel">
    <h3>סינון שאלות </h3>
    <form ng-submit="submit()">
 
        <b>מספר שאלה </b>
        <input type="number" ng-model="qnumber" min="1" max="100">

        <b>טקסט חופשי  </b>
        <input type="text" ng-model="freeText">
        
        <div id="tagsDiv">
            <b>תגיות  </b>
        
        <multiple-autocomplete ng-model="selectedTags" object-property="name" suggestions-arr="optionsTags" class="select">
        </multiple-autocomplete>

        </div>

        <input type="submit" style="width: 100px;height: 30px;" id="submit" value="סנן" />
    </form>
</div>
<hr>
<div ng-repeat="x in questions">
    <div style="clear:both"></div>
    <div style="clear:both;height:10px;"></div>
    <div class="questionsview_userbox">
        <div class="userbox">
            {{x.user.firstName}} {{x.user.lastName}}
        </div>
    </div>
    <div class="questionsview_details">
        <span style="color:#999">{{x.time | date:'dd-MM-yyyy HH:mm'}}</span>
    </div>
    <div class="questionsview_details" style="float:right">
        <span style="color:#999">
            {{getQuesDescription(x)}}
        </span>
    </div>
    <div class="questionsview_details q">
        {{x.numOfComments}} תגובות | {{x.votes}} הצבעות
    </div>
    <div class="questionsview_answer" id="a445">
        <div class="questionsgrid_title">
            <a href="#questions/view/{{x.id}}">{{x.title}}</a>
            <img ng-show="x.files.length>0" src="img/attachment.png" style="width: 40px;float: left" title="יש קבצים מצורפים">
            <br/><span class="questionsgrid_description"><a href="#questions/view/{{x.id}}"> 
                    <div class="markdown" style="border: bold" ng-bind-html="x.content"></div>
            <span class="markdown" style="border: bold">...</span>
                </a></span>
            <div style="clear:both"></div>
        </div>

        <ul class="holder noborder">
        </ul>

        <div style="clear:both;"></div>
    </div>
</div>
<div ng-show="questions.length==0">
    <h4>לא נמצאו הודעות בנוגע למבחן זה...</h4>
</div>

<div ng-show="totalCount>pageSize">
    <button ng-disabled="currentPage == 0" ng-click="pageBack()" style="background-color:  whitesmoke">
        הקודם
    </button>
עמוד
    {{currentPage+1}}/{{numberOfPages()}} 
    <button ng-disabled="currentPage >= totalCount/pageSize - 1" ng-click="pageNext()" style="background-color:  whitesmoke">
        הבא
</div>